body {
    margin: 0;
    padding: 0;
    width: 800px;
    height: 480px;
    font-family: Arial, sans-serif;
    background: linear-gradient(to top, #74ebd5, #ACB6E5);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

#weather-box {
    text-align: center;
}

h1, h2, p {
    margin: 10px;
}
